# Windows thumb db
Thumbs.db

# bundle files
SFTetris.zip

# VSC++ files and directories
*.opensdf
*.sdf
*.sln
*.suo
*.vcxproj*
build/
ipch/
bin/
bundle/

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
